@tailwind base;
@tailwind components;
@tailwind utilities;


.text-wrap {
  word-wrap: break-word;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.25s ease-in-out forwards;
}

.fade-out {
  opacity: 1;
  animation: fadeOut 1.25s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.zoom-in {
  opacity: 0;
  transform-origin: center;
  animation: zoomIn 1s ease-in-out forwards;
}

@keyframes zoomIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.offcanvas {
  transition: transform 0.3s ease-in-out;
  height: 50vh; /* Set the height to one-third of the viewport height */
  transform: translateY(100%); /* Position it at the bottom off-screen */
}

.offcanvas.transform-none {
  transform: translateY(0); /* Slide up one-third of the screen */
}

.form-input:focus, .form-multiselect:focus, .form-select:focus, .form-textarea:focus {
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #67a0ff;
  border-color: #67a0ff;
}
