<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cardano Block Watch</title>
    <link rel="stylesheet" href="/static/css/output.min.css" />
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    <script src="/static/js/web-snek.js"></script>
  </head>

  <body
    class="min-h-screen bg-gradient-radial from-blue-700 via-blue-900 to-black"
  >
    <div class="mx-auto sm:px-6 lg:px-8">
      <p class="text-lg font-medium text-center leading-6 text-white my-4">
        Connected to {{ .NodeAddress }}
      </p>
      <div class="mx-auto text-center px-3">
        <input
          type="text"
          id="nodeAddressInput"
          onfocus="this.select();"
          class="bg-white text-black text-lg text-center py-2 px-2 lg:w-1/3 md:w-2/3 w-full rounded-lg shadow-lg"
          onkeydown="if(event.key==='Enter') updateNodeAddress();"
          autocomplete="web-snek"
        />
      </div>
      <div class="mx-auto text-center">
        <button
          onclick="updateNodeAddress()"
          class="m-4 border border-white hover:border-gray-200 text-white hover:text-gray-200 py-1 px-2 rounded focus:outline-gray-300 focus:border-gray-300 active:border-gray-400 active:text-gray-400"
        >
          Update Node Address
        </button>
      </div>

      <div id="messages-container" class="overflow-auto px-1 zoom-in">
        <!-- Dynamic message blocks will be inserted here -->
      </div>
    </div>
  </body>
</html>
