<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebSocket Example</title>
    <link rel="stylesheet" href="/static/css/output.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
  </head>

  <body>
    <div class="p-10">
        <div class="bg-black p-6 rounded-lg shadow-lg flex flex-col">
            <p class="text-sm font-medium leading-6 text-white mb-2">Block Information</p>
            <div class="flex-1 overflow-auto">
                <pre class="text-green-600">
        Type: <span id="type"></span>
        Timestamp: <span id="timestamp"></span>
        Block Number: <span id="blockNumber"></span>
        Slot Number: <span id="slotNumber"></span>
        Block Size: <span id="blockSize"></span> bytes
        Pool: <span id="issuerVkey"></span>
        Block Hash: <span id="blockHash"></span>
        Transaction Count: <span id="transactionCount"></span>
                </pre>
            </div>
            <div class="flex justify-center gap-1">
                <button onclick="copyToClipboard('issuerVkey')" class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline-blue active:bg-blue-800">
                    Copy Pool
                </button>
                <button onclick="copyToClipboard('blockHash')" class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline-blue active:bg-blue-800">
                    Copy Hash
                </button>

            </div>
        </div>
    </div>
    <script>
      // Event handler for incoming messages
      function handleWebSocketMessage(event) {
        // Parse the JSON message
        const blockEvent = JSON.parse(event.data);

        // Snek block events
        document.getElementById("type").innerText = blockEvent.type;
        document.getElementById("timestamp").innerText = blockEvent.timestamp;
        document.getElementById("blockNumber").innerText =
          blockEvent.context.blockNumber;
        document.getElementById("slotNumber").innerText =
          blockEvent.context.slotNumber;
        document.getElementById("blockSize").innerText =
          blockEvent.payload.blockBodySize;
        document.getElementById("issuerVkey").innerText =
          blockEvent.payload.issuerVkey;
        document.getElementById("blockHash").innerText =
          blockEvent.payload.blockHash;
        document.getElementById("transactionCount").innerText =
          blockEvent.payload.transactionCount;
      }

      // Create a WebSocket connection
      const socket = new WebSocket("ws://localhost:8080/ws");

      // Event handler for when the WebSocket connection is established
      socket.addEventListener("open", (event) => {
        console.log("WebSocket connection established:", event);
      });

      // Event handler for WebSocket errors
      socket.addEventListener("error", (event) => {
        console.error("WebSocket error:", event);
      });

      // Event handler for WebSocket closure
      socket.addEventListener("close", (event) => {
        console.log("WebSocket connection closed:", event);
      });

      // Event handler for incoming messages
      socket.addEventListener("message", handleWebSocketMessage);

      function copyToClipboard(id) {
        const element = document.getElementById(id);
        const tempInput = document.createElement('textarea');
        tempInput.value = element.innerText;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand('copy');
        document.body.removeChild(tempInput);

        // Optionally, you can add visual feedback here (e.g., show a tooltip or change button text)
        element.classList.add('text-green-500');
        setTimeout(() => {
            element.classList.remove('text-green-500');
        }, 1000);
    }
    </script>
  </body>
</html>
